.navbar-nav .nav-link {
    transition: color 0.3s ease; /* Add transition effect for smooth hover */
  }
  
  .navbar-nav .nav-link:hover {
    color: #7f7f7f; /* Change the color to your desired hover color */
  }
  
  .ms-n6 {
    margin-left: -6rem !important;
  }

  .mt-9 {
    margin-top: 9rem !important;
  }

  .ms-n1 {
    margin-left: -0.4rem !important;
  }

  .ms-n2 {
    margin-left: -2rem !important;
  }